@media screen and (max-width: 1200px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 10px;
  }
}
